node_modules
**/node_modules
.git
.next
**/.next
dist
**/dist
.turbo
.pnpm-store
.cache
scanner-android
future
apps/api/dist
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
